<app-header></app-header>

<div class="card">
    <div class="card-header">
    User Registration Form    
    </div><div class="card-body">
<form [formGroup]="userForm">
    <div class="form-group col-md-4">  <mat-form-field class="example-full-width">
        <mat-label> First Name </mat-label>
        <input matInput placeholder="Enter First Name"  formControlName="fname">
       </mat-form-field>
       <div class="error text-danger" *ngIf="this.userForm.controls.fname.errors?.required">
        This is mandatory field.
    </div>
    </div>
       
    <div class="form-group col-md-4">  <mat-form-field class="example-full-width"> <mat-label> Last Name  </mat-label>
       
        <input type="text" matInput formControlName="lname">
   
    </mat-form-field> </div>




    <div class="form-group col-md-4">

        <mat-radio-group formControlName="gender" aria-label="Select an option">
            <mat-radio-button value="Female">Female</mat-radio-button>
            <mat-radio-button value="Male">Male</mat-radio-button>
          </mat-radio-group>
   
    </div>

    <div class="form-group col-md-4" *ngFor="let item of hobbiesArr">
        {{item}} : <mat-checkbox color="primary" type="checkbox" [checked]="(this.userForm.get('hobbies').value!=undefined && this.userForm.get('hobbies').value.includes(item))" [value]="item"
            (change)="onChangeHobbies($event)"></mat-checkbox>


    </div>
    <div class="form-group col-md-4">
        <button class="btn btn-success" (click)="submitDetails()">Submit</button>
    </div>
</form></div>
<div class="card-footer">
    </div>
</div>
<app-footer></app-footer>